/*
    Colors and styles on cards are from bootstrap

    colors:
    https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css

    cards:
    https://getbootstrap.com/docs/5.0/components/card/
*/

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --white-color: #ffffff;
}

.card {
  margin-bottom: 25px;
  border-color: var(--primary);
}

.card-header{
  background-color: var(--primary);
  color: var(--white);
}

.divider {
  border-color: var(--primary);
  background-color: var(--primary);
  text-align: center;
}

h1{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center; 
}